body {
    background-image: url("../img/espace-fond.jpg");
    width: 100vw;
    height: 250vh;
}

/* mise en forme texte */
#text {
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
}

/* redimension des images
gestion des flex / absolute 
masque des chemins pour animation Motion Path */
#sun {
    width: 200px;
}

#mercury {
    width: 20px;
}

#venus {
    width: 60px;
}

#earth {
    width: 50px;
}

#mars {
    width: 40px;
}

#jupiter {
    width: 100px;
}

#saturn {
    width: 100px;
    height: auto;
}

#uranus {
    width: 70px;
    padding-left: 20px;
}

#neptune {
    width: 70px;
}

#planet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30vh;
    gap: 30px;
}

#motionPath-mercury {
    visibility: hidden;
    position: absolute;
    top: 38%;
    left: -5%;
}

#motionPath-venus {
    visibility: hidden;
    position: absolute;
    top: 35%;
    left: -15%;
}

#motionPath-earth {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: -8%;
}

#motionPath-mars {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: -4%;
}

#motionPath-jupiter {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: -4%;
}

#motionPath-saturn {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: -3%;
}

#motionPath-uranus {
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: -10%;
}

#motionPath-neptune {
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: -10%;
}


#meteors {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -5%;
}

#astronaut {
    width: 400px;
    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: -5%;
}

.message-fin {
    position: absolute;
    bottom: -200%;
    left: 40%;
}

#message-fin,
h1 {
    color: white;
}